#canvas {
    width: 1000px; 
    height: 500px;
    border: 1px solid black;
    background: url('./images/background2.jpg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    overflow: hidden;
    background: rgb(211, 211, 211);
    max-width: 1000px; 
    /* max-height: 600px;  */
    margin: auto;
    /* z-index: 0 */

}


#pauseButton {
    margin-top: 5px;
    height: 40px;
    width: 15%;
    visibility: hidden;
    /* position: absolute; */
    left: auto;
    top: auto;
    background-color: white;
    font-size: 25px;
    /* z-index: 1 */
}


#pauseButton:hover {
    background-color: grey;
    cursor: pointer;
    font-weight: bold;
    color: white
}

#musicButton {
    margin-top: 5px;
    height: 40px;
    width: 15%;
    /* visibility: hidden; */
    /* position: absolute; */
    left: 50;
    top: auto;
    background-color: white;
    font-size: 25px;
    /* z-index: 1 */
}


#musicButton:hover {
    background-color: grey;
    cursor: pointer;
    font-weight: bold;
    color: white
}

#footer {
    /* margin-top: 85px; */
    position: absolute;
    top: 96%;
    background: none;
}

a {
    background: none;
    text-decoration: none
}

a:hover {
    font-weight: bold;
    cursor: pointer;
}

footer#footer {
    font-size: 20px;
}