#canvas {
    width: 1000px; 
    height: 500px;
    border: 1px solid black;
    background: url('./images/background2.jpg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    overflow: hidden;
    background: rgb(211, 211, 211);
    max-width: 1000px; 
    max-height: 500px; 
    margin: auto;
}


#pauseButton {
    /* margin-top: 65px; */
    height: 40px;
    width: 15%;
    visibility: hidden;
    position: absolute;
    left: 17.4%;
    top: 10%;
    background-color: white;
    font-size:25px
}


#pauseButton:hover {
    background-color: grey;
    cursor: pointer;
    font-weight: bold;
    color: white
}

#footer {
    /* margin-top: 85px; */
    position: absolute;
    top: 96%;
    background: none;
}

a {
    background: none;
    text-decoration: none
}

a:hover {
    font-weight: bold;
    cursor: pointer;
}