#canvas {
    width: 1000px; 
    height: 500px;
    border: 1px solid black;
    background: url('./images/background2.jpg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu {
    width: 250px;
    height: 500px;
    border: 2px solid black;
    position: absolute;
    transform: translate(2%, 14.5%);
    background-color: white
    /* rgba(61, 249, 255, 0.6); */
}

#control {
    width: 250px;
    height: 500px;
    border: 2px solid black;
    position: absolute;
    transform: translate(496%, 14.5%);
    background-color: white
}

* {
    overflow: hidden;
    background: lightgray
}
